[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
python-telegram-bot = "*"
vk-api = "*"
tqdm = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.6"
